.timer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    height: 3rem;
    width: 100vw;
    background-color:rgb(223 228 228);
    text-align: center;
}

.footer_div{
    position: fixed;
    bottom: 0;
    border-radius: 10px;
    padding-right: 1rem;
    background-color: aliceblue;
}
.hour,.mins,.secs,.pm{
    font-size: large;
    color: maroon;
}
body{
    overflow-x: hidden;
}
.time_heading{
    text-align: center;
    font-size: x-large;
    padding: 1rem;
    position: relative;
    bottom: 0;
}