.likes_div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: baseline;
}
.like_btn{
    padding: 0.3rem;
}
.like_button{
    background-color: inherit;
    border: none;
    font-size: xx-large;
    margin-bottom: -0.2rem;
}
.comment{
    overflow-y: visible;
}
.comment_btn{
    padding: 0.4rem;
    background-color: greenyellow;
    border-radius: 0.51rem;
    border: 1px solid blue;
    margin: 1rem;
}

.comment_btn:hover{
    cursor: pointer;
}