.timer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    height: 6rem;
    width: 100vw;
    background-color:rgb(223 228 228);
    text-align: center;
}

.hour,.mins,.secs,.pm{
    font-size: xx-large;
    color: maroon;
}
body{
    overflow-x: hidden;
}