.Main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(0, 0, 0)
}
.logo_img{
    width: 12rem;
    height: 5rem;
}
.buttons_div{
    display: flex;
    flex-direction: row;
  align-items: center;
  background-color: inherit;
    justify-content: center;
}
.input_search{
    width: 20rem;
    height: 2rem;
    font-size: 1.2rem;
    border-top:none ;
    padding: 0.5rem;
    border-radius: 10px;
}
.search_div{
    margin: auto;
}
.search_btn{
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 1rem;
}
button{
    width: 8rem;
    height: 3rem;
    font-size: larger;
    color: rgb(255, 255, 255);
    font-style: block;
    border-radius: 20%;
    background-color: inherit;
    border: transparent;
    margin:0 .125rem 0 .125rem;
}
button:hover{
    transition: .4s;
    transform: scale(1.01);
    border-bottom: 1px solid whitesmoke;
}