.Main{
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0)
}
.logo_img{
    width: 8rem;
    height: 5rem;
}
.logo{
    display: flex;
    flex-direction: row;
}
.Bright_heading{
    color: red;
    margin-bottom: -10px;
    font-family: "Trirong", serif;
}
.buttons_div{
    display: flex;
    flex-direction: row;
  align-items: center;
  background-color: inherit;
    justify-content: center;
}
.input_search{
    width: 20rem;
    height: 1.2rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 10px;
}
.search_div{
    margin: auto;
    display: flex;
    align-items: baseline;
}
.search_btn{
    width: 4rem;
    height: 3rem;
    border-radius: 0.3rem;
    color: black;
    background-color: chartreuse;
    margin-left: 1rem;
    height: 2rem;
    padding: 0.5rem;
}
 .about,.buissness,.home ,.headline,.themeChanger{
    width: 4rem;
    height: 3rem;
    color: rgb(255, 255, 255);
    font-style: block;
    border-radius: 20%;
    background-color: inherit;
    border: transparent;
    margin:0 .125rem 0 .125rem;
}

.headline:hover{
    cursor: pointer;
}
.home:hover{
    cursor: pointer;
}
.buissness:hover{
    cursor: pointer;
}
.about:hover{
    cursor: pointer;
}
.themeChanger:hover{
    cursor: pointer;
}

button:hover{
    transition: .4s;
    transform: scale(1.01);
    border-bottom: 1px solid whitesmoke;
}

@media screen and (max-width: 1000px) {
    .Main{
        display: flex;
        width: 100%;
        background-color: rgb(0, 0, 0)
    }
    .logo_img{
        width: 3rem;
        height: 2rem;
    }
    .logo{
        display: flex;
        flex-direction: row;
    }
    .Bright_heading{
        color: red;
        font-size: medium;
        margin-bottom: -10px;
        font-family: "Trirong", serif;
    }
    .buttons_div{
        display: flex;
        flex-direction: row;
      align-items: center;
      background-color: inherit;
        justify-content: center;
    }
    .input_search{
        width: 15rem;
        height: 1.2rem;
        font-size: 1.2rem;
        padding: 0.5rem;
        border-radius: 10px;
    }
    .search_div{
        margin: auto;
        display: flex;
        align-items: baseline;
    }
    .search_btn{
        width: 4rem;
        height: 3rem;
        border-radius: 0.3rem;
        color: black;
        background-color: chartreuse;
        margin-left: 1rem;
        height: 2rem;
        padding: 0.5rem;
    }
     .about,.buissness,.home ,.headline,.themeChanger{
        width: 4rem;
        height: 3rem;
        color: rgb(255, 255, 255);
        font-style: block;
        border-radius: 20%;
        background-color: inherit;
        border: transparent;
        margin:0 .125rem 0 .125rem;
    }
  }