.Main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(0, 0, 0)
}
.logo_img{
    width: 12rem;
    height: 5rem;
}
.logo{
    display: flex;
    flex-direction: row;
}
.Bright_heading{
    color: red;
    font-family: "Trirong", serif;
}
.buttons_div{
    display: flex;
    flex-direction: row;
  align-items: center;
  background-color: inherit;
    justify-content: center;
}
.input_search{
    width: 20rem;
    height: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 10px;
}
.search_div{
    margin: auto;
    display: flex;
    align-items: baseline;
}
.search_btn{
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 1rem;
}
.search_btn, .about,.buissness,.home ,.headline,.themeChanger{
    width: 6rem;
    height: 3rem;
    font-size: larger;
    color: rgb(255, 255, 255);
    font-style: block;
    border-radius: 20%;
    background-color: inherit;
    border: transparent;
    margin:0 .125rem 0 .125rem;
}
.search_btn{
    background-color: rgb(81, 135, 0);
    border-radius: 1rem;
    /* margin-left: 1rem; */
}
.headline:hover{
    cursor: pointer;
}
.home:hover{
    cursor: pointer;
}
.buissness:hover{
    cursor: pointer;
}
.about:hover{
    cursor: pointer;
}
.themeChanger:hover{
    cursor: pointer;
}

button:hover{
    transition: .4s;
    transform: scale(1.01);
    border-bottom: 1px solid whitesmoke;
}